/* ========================== GLOBAL ========================== */
*{
    --vine: #a30404;
    --yellow: #fed40e;
    --gray: #e5e5e5;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 93.75% /*100% - 16px | 93.75 - 15px*/;
}

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.overflow-hidden{
    overflow: hidden;
}

body{
    font-family: "Montserrat", sans-serif;
    background: var(--vine) url(../_assets/img/bg_icons.svg);
    background-attachment: fixed;
    background-size: cover;
}

.container{
    width: min(90vw, 800vw);
    padding-top: 4rem;
    margin: auto,;
}

.img-fluid{
    width: max(14vw, 100px);
}

.flex-center-full {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row{
    flex-direction: row;
}

.text-center {
    align-items: center;
}